@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
a{
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100%vh;
    background: url(Pictures/maribel/BG.jpg);
    background-size: cover; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 100px;
    /*position: absolute;
    left: 10px;
    top: 10px;*/

}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: rgb(248, 244, 244);
    position: relative;
    padding: 5x 0;
}
nav ul li a:hover{
    color: rgb(248, 6, 6);
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(10, 7, 7);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: rgba(12, 10, 10, 0.945);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 400px;
    transform: all .4s ease-in-out;
    background-size: 120% 100%;
    background: red;
    border: 2px solid rgb(131, 109, 109);
}
.btn:hover{
    background: transparent;
    border-color: red;
    color: red;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: black;
    font: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%,#7644ff 50.19%, #fd4766 79.69% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: black;
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span {
    color: #0c0a0b;
}
.content p{
    width: 55%;
    color: #080707;
   /* margin-top: 50px*/
    margin: 25px;
}
.mypic{
  width: 50%;
  height: 90vh;
  float: right;
}
.aboutme{
    width: 55%;
    color: #080707;
   /* margin-top: 50px*/
    margin: 25px;
    text-align:justify;
    margin-inline: 25px;
    margin-bottom: 25px;
}

   